@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*Fuente de Google Fonts Importada a CSS*/

html{
    scroll-behavior: smooth;  /*scroll de vinculos suavizado*/
}

body{
    display: flex;
    flex-direction: column;
    align-items: center; /*estos dos son experimentales */
    justify-content: space-between;
    gap: 2vh; /* PARA SEPARACIONES ENTRE FLEX */


    margin: 0;
    padding: 20;
    padding-left: 30px;

    background: url(../assets/azul.jpg);   
    background-size: cover;
    background-position: center;
    font-family: 'Lobster', cursive;
    color: white;
    /* background-repeat: no-repeat; */
}

body::-webkit-scrollbar{
    width: 10px;
    background:rgba( 23, 42, 90);
}
body::-webkit-scrollbar-thumb{
    background:rgba(75, 97, 223, 0.801);
    border-radius:10pt;
    /*border-right: 2px solid rgba( 23, 42, 110);*/
}


/**************************************    HEADER/CABECERA    *********************/
.header{
    flex:1;

    position: fixed;
    width: 85%;
    height: 80px;
    display: block;
    background-color: transparent;
    z-index:1000;

    margin: 0 auto;
    background-color: rgb(34, 59, 151);
    border-radius: 35px;
}

.titulo_header{
    position: absolute;
    display: inline-block;
    margin: auto;
    margin-left: 15%;
    
    
    font-size: 60px;
   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(../assets/FondoTitulo.jpg);
    background-attachment: fixed;
}
.menu_header{
    float:right;
    padding: 0;
    height:100%;
    display: table;
    
    font-size: 20px;
}
.menu_header li{
    text-decoration: none;
    display: inline-block;
    text-align:center;
    color:white;
    list-style:none;
}
.menu_header li a{
    display: inline-block;
    padding:10px 20px;
    
    text-align:center;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
.menu_header li a:hover{
    background: rgba( 23, 42, 110);
}

            /* SUBMENUS */

.menu_header > li{
    float: left;
}
.menu_header li ul{
    position: absolute;
    top: 65px;
    display: none;

    
    min-width: 140px;
    padding:10px 20px;
    
    text-align:center;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
.menu_header li ul li{
    display: block;
    
    padding: 5px;
    border-radius: 20px;
}
.menu_header li ul li:hover{
    background: rgba( 23, 42, 110);
}
.menu_header li:hover > ul{
    display: block;
    background-color: rgb(34, 59, 151);
}



/**************************************    GALERIA    *********************/
.galeria{
    flex: 1;    
    margin-top: 20vh;
    
    border-top: 60px;
    border-bottom: 60px;
    margin: 20px solid rgba( 23, 42, 110);
    
    border-radius: 20px;
    box-shadow: 0 0 30px 25px rgba(0,0,0,0.50);
    margin-bottom: 100px;
}

.galeria_imagenes{
    display: grid;
    grid-template-columns: repeat(3,3fr);
}

.galeria_imagenes img{
    position: relative;
    background:transparent;
    /* Borrar */

    border-radius: 20px;
    padding:10px;
    transition: 800ms;
}

.galeria_imagenes img:hover{
    transform: scale(1.1);
    z-index: 100;
}

.galeria_imagenes a{
    display: inline-block;
    text-align: center;

    font-size: 30px;
    margin: auto;
    padding-top: 1vh;
    padding-bottom: 3vh;


    background: linear-gradient(to right, rgb(35, 78, 136), rgb(76, 76, 212) 50%, rgb(255, 255, 255) 50%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    transition: background-position 800ms ease;
}
.galeria_imagenes a:hover{
    background-position: 0 100%;

    /*background: rgb(255, 255, 255);*/
}



/* MENSAJE DE TOASTIFY */
.toast{
    z-index: 10;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    margin: auto;
    
    max-width: 400px;
    padding: 6px;
    background: rgb(22, 73, 156);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    border: 1px solid lightblue;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.50);

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}

.toast--visible{
    top: 90px;
    opacity: 1;
    visibility: visible;
  }

  .toast--success {
    background: #00c02b;
    border-color: #009d23;
    color: #ffffff;
  }
  
  .toast--error {
    background: #d50000;
    border-color: #ba0000;
    color: #ffffff;
  }
/**************************************    VENTAS   *********************/
.ventas{
    display: flex;
    flex-direction: row;

    padding: 3%;
    margin: 3%;
    border: solid rgb(25, 48, 131) 6px;
    border-radius: 5%;   
    box-shadow: 0 0 30px 25px rgba(0,0,0,0.50);
}

.ventas p{
    font-size: 2.5vh;
}

.ventas_inputs{
    flex:1;
}

.tabla{
    flex:1;
    background-color:rgba(5,7,12, 0.20);
    border-radius: 20%;
    padding-left: 10%;
}
.table th,td{
    border: red;
}

.Sub_tabla{
    flex:1;
    margin-left: auto;
}

.icon_cart{
    margin-top: 5vh;
    font-size: 10vh;
}




.simulador_cuotas{
    margin-left: 3%;
    font-size: 20px;
    color: brown;
}

/**************************************    FOOTER   *********************/
.footer{
    flex: 1;

    display: flex;
    
    flex-flow: row, wrap;
    justify-content: space-around;
    align-items:center;

    width: 100%;
    height: 400px;

    font-size: 20px;
    color:white;

    border-top: 6px solid;
    border-color: rgba( 23, 42, 110);

    background: transparent;
    background-image: url(../assets/fondo.jpg);
    background-attachment: fixed;
}


.footer .footer_contacto{
    margin-left: auto;
    text-align: center;
    background-color: rgba(5,7,12, 0.50);
    border-radius: 15%;
    padding-left: 10px;
    padding-right: 10px;
}

.footer .iconos_redes{
    margin-left: auto;

    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    background: rgba(5,7,12, 0.50);
    border-radius: 15%;
    border-radius: 10px solid transparent;
}

.footer .iconos_redes ul{
    
    font-size: 40px;
    margin: 0;
    padding: 0;

}
.footer .iconos_redes li{
    display: inline-block;
    list-style: none;
    text-align: left;
    font-size: 70px;
}

.footer .iconos_redes li a{
    width: 50px;
    height: 50px;
    color: white;
}

.footer .mapa{
    margin-left: auto;
}



















/* CARRITO DE COMPRAS */
.container{
    color: white !important;
}
#tabla_items{
    color: white !important;
    background-color: rgb(70, 181, 218);
    border-radius: 20px;
}
.titular{
    font-size: 50px;
}

#template-carrito{
    background-color: red !important;
    color: red !important;
}
#template-footer{
    background-color: red !important;
    color: red !important;
}

#template-card{
    background-color: red !important;
    color: red !important;
}
#cards{
    background-color: rgb(44, 104, 214) !important;
    color: red !important;
    border: 20px;
}
.card{
    background-color: rgba(5,7,12, 0.50)!important;
    color: rgb(255, 255, 255) !important;
    margin: 20px;
    padding: 20px;
    border: 20px;
}